@page
@model ErrorModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID da solicitação:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>
    Ao mudar para o ambiente <strong>Development</strong>, são exibidas informações detalhadas sobre o erro ocorrido.
</p>
<p>
    <strong>O ambiente Development não deve ficar habilitado em aplicações publicadas.</strong>
    Isso pode expor informações sensíveis de exceções para os usuários.
    Para depuração local, habilite o ambiente <strong>Development</strong> definindo a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> como <strong>Development</strong>
    e reinicie a aplicação.
</p>
